.folder {
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.node {
  cursor: pointer;
  padding: 4px 8px;
  user-select: none;
  display: flex;
  gap: 0.5rem;

  &:hover {
    background-color: #242424;
  }
}

/* .folderName {} */

.children {
  margin-left: 16px;
  border-left: 1px dashed yellow;
}
